* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, .subtitle {
    display: inline;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
}

.subtitle {
    color: #ef8615;
}

.container {
    margin: 80px auto;
    max-width: 640px;
    width: 100%;
}

form {
    margin-top: 30px;
}

input, textarea, button {
    display: block;
    padding: 15px;
    margin-bottom: 8px;
    border-radius: 8px;
    outline-color: #ef8615;
    width: 100%;
    resize: none;
}

button {
    background-color: #ef8615;
    border: none;
    border-radius: 8px;
    margin-top: 20px;
    padding: 8px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    background-color: #ef6c15;
}

.sucessMensagem {
    display: none;
    padding: 16px;
    border-radius: 8px;
    align-items: center;
    font-weight: bold;
    background-color: #27ae60;
    color: #FFFF;
}

input.sucess {
    color: #27ae60;
    border: 2px solid #27ae60;
    outline-color: #27ae60;
}

.errorMensagem {
    display: none;
    padding: 16px;
    border-radius: 8px;
    align-items: center;
    font-weight: bold;
    background-color: #ae2727;
    color: #FFFF;
}

input.error {
    color: #ae2727;
    border: 2px solid #ae2727;
    outline-color: #ae2727;
}

