* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body > header {
    background-color: rgb(0, 0, 0);
    padding: 16px 0;
    font-family: 'CNN Sans Display',sans-serif;
}

header .container {
    color: #f5f6fa;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li {
    display: inline;
    font-size: bold;
    margin-left: 20px;
}

header li a {
    color: #f5f6fa;
    text-decoration: none;
}

/*Containers*/
.container {
    width: 1366px;
    margin: 0 auto;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img {
    border-radius: 6px;
    height: 195px;
    width: 350px;
    max-width: 350px;
}

.articles article {
    width: 350px;
}

/*Sections*/
section {
    padding: 20px 0;
}

section h2,
.articles article {
    margin-bottom: 16px;
    font-family: 'CNN Sans Display',sans-serif;
}

.articles article header {
    margin: 10px 0;
}

section h2 {
    font-weight: 700;
    font-size: 32px;
}

/*tecnology*/
#tecnology {
    background-color: #ffffff;
}

#tecnology h2 {
    color: #ca2626;
}

#tecnology article p {
    margin: 10px 0;
}

#tecnology article a:hover {
    text-decoration: underline;
}

#tecnology article a {
    color: rgb(255, 255, 255);
    background-color: #ca2626;
    border-radius: 6px;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    font-weight: 550;
}

#tecnology article h3 {
    color: #ca2626;
    font-weight: 600;
    font-size: 24px;
}

/*sports*/
#sports {
    background-color: #58e1c8;
}

#sports h2 {
    color: #0b4f42;
}

#sports article p {
    margin: 10px 0;
}

#sports article a:hover {
    text-decoration: underline;
}

#sports article a {
    color: rgb(255, 255, 255);
    background-color: #0b4f42;
    border-radius: 6px;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    font-weight: 550;
}

#economy article h3 {
    color: #0b4f42;
    font-weight: 600;
    font-size: 24px;
}

/*Investimentos*/
#investments {
    background-color: #f8bd6f;
}

#investments h2 {
    color: #814901;
}

#investments article p {
    margin: 10px 0;
}

#investments article a:hover {
    text-decoration: underline;
}

#investments article a {
    color: rgb(255, 255, 255);
    background-color: #814901;
    border-radius: 6px;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    font-weight: 550;
}

#investments article h3 {
    color: #814901;
    font-weight: 600;
    font-size: 24px;
}