html {
  scroll-snap-type: y mandatory;
}

.App {
  background-color: black;
  height: 100vh;
  display: grid;
  place-items: center;
}

.app__videos {
  height: 100vh;
  max-height: 800px;
  width: 80%;
  max-width: 500px;
  border-radius: 25px;
  overflow: scroll;
  scroll-snap-type: y mandatory;
  position: absolute;
}

/*Esconder a scrollbar no chrome, safari e opera*/
.app__videos::-webkit-scrollbar {
  display: none;
}

/*Esconder a scrollbar no internet explorar, edge e firefox*/
.app__videos {
  -ms-overflow-style: none;
  scrollbar-width: none;
}